h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--accent-color);
  }

.input {
    font-weight: bold;
    color: var(--accent-color);
  }
  
  .cursor {
    display: inline-block;
    width: 5px;
    height: 20px;
    background: var(--accent-color);
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  